/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.well {
  width: 100%;
  background: lightblue;
  color: gray;
  border-radius: 0.5em;
  margin: 0.5em;
  padding: 0;

  display: flex;
  flex-wrap: row nowrap;
  justify-content: space-between;
}

.product-row {
  display: flex;
  justify-content: space-between;
}


.product-row > li {
  width: 14.5em;
  padding: 0 1.5em;
  text-anchor: center;
  align-self: center;
}
