/* CSS RESET */

* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

/* APP STYLING */

img {
  padding: 0.5em;
}

a:hover {
  text-decoration: underline;
}

a {
  color: white;
}

a:hover {
  color: inherit;
}

.checkout-well {
  width: 40vw;
}

.product-well {
  justify-content: center;
}

.sign-in-form-div {
  justify-content: center;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
}

.form-control {
  padding-left: 0.5em;
  width: 60vw;
  display: block;
  width: 100%;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: #fff;
  background-image: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

.sign-in-form-div {
  display: flex;
  width: 40vw;
  justify-content: center;
  flex-flow: column nowrap;
}

.signin-btn {
  border: 0 transparent;
  width: 40%;
  margin: 0 auto;
  display: block;
  border-radius: 0.5em;
  padding-top: 0.5em;
  margin-top: 0.5em;
  justify-content: center;
  color: white;
  background: gray;
}

.btn-primary {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: gray;
  border-color: transparent;
  color: white;
  margin: 1em auto;
}

.search-field {
  padding-left: 0.5em;
  border: 1px solid black;
  width: 90%;
  border-top-left-radius: .5em;
  border-bottom-left-radius: .5em;
  border-right: none;
  height: 2em;
  font-size: 1rem;
  line-height: 1.25;
}

.search-btn {
  background-color: gray;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  border-left: none;
  height: 2em;
  font-size: 1rem;
  line-height: 1.25;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  float: right;
  display: inline;
  width: 10%;
  border: 0.5px black solid;
  color: white;
}


body {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  align-content: center;
}

h1 {
  align-self: center;
}

div {
  align-self: center;
  justify-content: center;
  align-content: center;
  clear: left;
  padding: 1.5em;
}

.nav {
  width: 80vw;
  border-radius: 20em;
  background: gray;
  font-color: white;
  display: flex;
  padding: 0.5em;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-self: center;
  margin: 0 auto;
}

.nav > img {
  display: block;
}

.nav > li {
  align-self: center;
  padding: 0.5em;
  margin: 0 1em;
}

.nav:visited {
  text-decoration: none;
}

body {
  background-color: orange;
  margin: 33px;
}

body, p, ol, ul, td {
  font-family: inherit;
  font-size: 15 px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div.field,
div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

label {
  display: block;
}

.checkout-field {
  padding-left: 0.5em;
  border: 1px solid black;
  width: 72%;
  border-top-left-radius: .5em;
  border-bottom-left-radius: .5em;
  border-right: none;
  height: 2em;
}

.checkout-btn {
  background-color: gray;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  border-left: none;
  height: 2em;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  float:right;
  display: inline;
  width: 28%;
  border: 1px black solid;
  color: white;
}

.flash-danger {
  align-self: center;
  color: red;
}

.flash-notice {
  align-self: center;
  color: green;
}

.playlist-well {
  width: 100%;
}
