
/* APP STYLING */

 h1{
  font-size: 20px;
  padding-top: 2em;
 }

.logo{
  display: block;
  margin: 0 auto;
}

img {
  padding: 0.5em;
}

a:hover {
  text-decoration: underline;
}

a {
  color: white;
}

a:hover {
  color: inherit;
}

.checkout-well {
  width: 40vw;
}

.product-well {
  justify-content: center;
}

#sign-in-form-div {
  justify-content: center;
  display: flex;
  flex-flow: column nowrap;
  width: 40vw;
  text-align: left;
}

.form-control {
  padding-left: 0.5em;
  width: 60vw;
  display: block;
  width: 100%;
  padding: .5rem .75rem;
  height: 2em;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: #fff;
  background-image: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 1rem;
  border: 0;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}


.signin-btn {
  border: 0 transparent;
  width: 40% !important;
  margin: 0 auto;
  display: block !important;
  border-radius: 1em !important;
  padding-top: 0.5em;
  margin-top: 0.5em;
  justify-content: center;
  margin: 2em auto !important;
  color: white;
  background: gray;
}

.btn-primary {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border-radius: 1em;
  background-color: gray;
  border-color: transparent;
  color: white;
  margin: 1em auto;
}

.cart-buttons-li {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
}

.search-div {
  width: 60vw;
}

@media screen and (max-width: 1200px) {
  .search-div {
    width: 720px;
  }
}

.profile-pic {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  display: block;
}


.search-field {
  padding-left: 0.5em;
  border: 0;
  width: 90%;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  border-right: none;
  height: 2em;
  font-size: 1rem;
  line-height: 1.25;
}

.search-btn {
  background-color: gray;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  border-left: none;
  height: 2em;
  font-size: 1rem;
  line-height: 1.25;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  float: right;
  display: inline;
  width: 10%;
  border: 0;
  color: white;
}


body {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  align-content: center;
}

h1 {
  align-self: center;
}

div {
  align-self: center;
  justify-content: center;
  align-content: center;
  padding: 1.5em;
}

.nav {
  width: 80vw;
  max-width: 960px;
  border-radius: 20em;
  background: black;
  display: flex;
  padding: 0.5em;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-self: center;
  margin: 0 auto;
}

.nav > img {
  display: block;
}

.nav > li {
  align-self: center;
  padding: 0.5em;
  margin: 0 1em;
}

.nav > a:visited, a:hover {
  text-decoration: none;
  color: white;
}

.nav > li:hover {
  background-color: purple;
  border-radius: 0.33em;
}

body, p, ol, ul, td {
  font-family: inherit;
  font-size: 15 px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div.field,
div.actions {
  margin-bottom: 10px;
}

.field_with_errors {
  padding: inherit;
  color: red;
}

#error_explanation {
  width: 450px;
  border: 2px solid gray;
  color: red;
  padding: 0;
  margin: 0 auto;
  background-color: lightgray;
  margin-bottom: 0.25em;
}

#error_explanation h2 {
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  color: white;
}


.alert-danger {
  text-align: center;
}

#error_explanation ul li {
  font-size: 12px;
}

label {
  display: block;
}

#current-user-cart {
  align-self: center;
}

.checkout-field {
  padding-left: 0.5em;
  border: 0;
  width: 72%;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  border-right: none;
  height: 2em;
  font-size: 1rem;
  line-height: 1.25;
}

.checkout-btn {
  background-color: gray;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  border-left: none;
  height: 2em;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  float:right;
  display: inline;
  width: 28%;
  border: 0;
  color: white;
  font-size: 1rem;
  line-height: 1.25;
}

#flash-section {
  text-align: center;
}

.flash-danger {
  color: red;
}

.flash-notice {
  color: green;
}

.playlist-well {
  width: 100%;
}

.cart-button {
  margin: 0.5em auto;
}

.turbolinks-progress-bar {
  background-color: purple;
}

.user-info {
  display: flex;
}
