<tr>
  <% @playlists = Playlist.all %>
  <% @playlists.each do |playlist| %>
  <% if playlist.user_id == @current_user.id %>
    <p><%= link_to playlist.name, playlist.spotify_uri %></p>
    <% end %>
  <% end %>
</tr>
