<div class="well">
  <div class="row">
    <div class="col-xs-8">
      <p><%= product.name %></p>
      <p><%= product.artist %></p>
      <%= link_to "Add Cart Item", cart_items_path(product: product.id), method: :post  %>
      <% if (cart_item = CartItem.find_by product_id: product.id) %>
        <%=  link_to "Remove Cart Item", cart_item_path(cart_item), method: :delete %>
      <% end %>
    </div>
  </div>
</div>
