<div class="well">
  <div class="row">
    <div class="col-xs-8">
      <p><%= product.name %></p>
      <p><%= product.artist %></p>
      <%= link_to "Add Cart Item", {
                                  controller: 'cart_items', action: 'create',
                                  cart_item: {cart_id: @cart.id, product_id: cart_item.product_id},
                                }, method: :post  %>
    </div>
  </div>
</div>
