<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <%= render 'row', product: product,
                          cart_item: CartItem.new(cart_id: @cart.id,
                          product_id: product.id) %>
      </tr>
    <% end %>
  </tbody>
</table>
