<p id="notice"><%= notice %></p>

<h1>Song Library:</h1>

<table>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <%= render 'row', product: product %>
      </tr>
    <% end %>
  </tbody>
</table>
