<p id="notice"><%= notice %></p>

<h4>Song Library:</h4>
<table>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= render 'row', product: product %></td>
      </tr>
    <% end %>
  </tbody>
</table>
