<p id="notice"><%= notice %></p>

<h4>Song Library:</h4>
<table>
  <thead>
    <tr>
      <th class='colspan'></th>
      <th class='colspan'></th>
      <th class='colspan'></th>
      <th>Name</th>
      <th class='colspan'></th>
      <th>Artist</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= render 'row', product: product %></td>
      </tr>
    <% end %>
  </tbody>
</table>
